@font-face{
    font-family: 'Montserrat';
    src: url('Montserrat-Regular.ttf')
}

@font-face{
    font-family: 'Lato';
    src: url('Lato-Light.ttf');
}

body{
    background-color: lavender;
}

.container-fluid{
    padding-top: 15px;
    padding-bottom:100px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 30px;
}

.bg-1{
    background: #0078d7;
    background: -webkit-linear-gradient(#0078d7, indianred);
    background: -o-linear-gradient(#0078d7, indianred);
    background: linear-gradient(#0078d7, indianred);
    color: white;
}

h1 {
    font-family: 'Lato', sans-serif;
    text-align: center;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
h3{
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 16px;
}

 div.rs4 > h2{
     text-align: center;
 }

p {
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    line-height: 3em;
}

.rs4 {
    width: auto;
    background-color:transparent;
}

table {
    border-collapse: collapse;
}


.table-bordered > tbody > tr > td, .table-bordered > thead > tr > th {
    font-family: 'Montserrat', sans-serif;
    border: 1px solid #0078d7;
    text-align: center;
    vertical-align: middle;
    font-size: 15px;
    background-color:white;
}
.table-bordered > thead > tr > th {
    background-color: #0078d7;
    height: 45px;
    color: white;
}

@media screen and (max-width:480px){
    
    .table-bordered > tbody > tr > td, .table-bordered > thead > tr > th {
        font-size: 13px;
    }

    h1{
        font-size: 28px;
    }
    h2{
        font-size: 20px;
    }
    h3, p{
        font-size: 14px;
    }
}


a:hover {
    color: red;
    text-decoration: none;
}

a:visited {
    color: purple;
}

.navbar {
    border-radius:0px;
   background-color: #0078d7;
   border: transparent;
   margin-bottom:0;
   padding: 10px;
}

.navbar ul li{
    margin-right:15px;
}

.navbar ul li > a{
    color:black;
    font-size: 14px;
}

.navbar-inverse .navbar-nav > li > a{
    color: black;
}
.navbar-inverse .navbar-nav > li > a:hover{
    color: white;
}

.btn-success{
    background-color: rgb(35, 209, 35);
    color:white;
    border: none;
}


.tweet-section{
    background-color:#6CADDE; /*#0078d7*/
    padding: 20px;
    margin: 20px 0px 0px 0px;
}

.tweet-section h1{
    color: white;
    padding: 10px;
}
.tweet-section h3{
    color: white;
}